<!DOCTYPE html>
<html 	
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tb="http://www.thymeleaf.org/thymeboots">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"           content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="/bootstrap/4.2.1/css/bootstrap.min.css"/>			
	<link rel="stylesheet" type="text/css" href="/font-awesome/5.11.2/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="/thymeboots/3.4.0/css/thymeboots.css"/>	
	<script src="/jquery/3.0.0/jquery.min.js"></script>
	<script src="/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>

	<title> ThymeBoots </title>
</head>

	
<script>
  $(document).ready(function(){ $('[data-toggle="tooltip"]').tooltip(); });
  
$(document).ready(function () {
    $('label.tree-toggler').click(function () {$(this).parent().children('ul.tree').toggle(300);});
});  
</script>

<body>
<div class="container-fluid">
	<div class="row">
        <div class="" style="width:300px; padding: 1px 0;">
            <div style="overflow-y: scroll; overflow-x: auto; height: 500px;">
                <ul class="treeview nav-list">
                    <li>
                    	<label class="tree-toggler nav-header">Header 1</label>
                        <ul class="nav-list tree">
                            <li  ><a href="#">Link</a></li >
                            <li ><a href="#">Link</a></li >
                            <li>
                            	<label class="tree-toggler nav-header">Header 1.1</label>
                                <ul class="nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li>
                                    	<label class="tree-toggler nav-header">Header 1.1.1</label>
                                        <ul class="nav-list tree">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><label class="tree-toggler nav-header">Header 2</label>
                        <ul class="nav-list tree">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li>
                            	<label class="tree-toggler nav-header">Header 2.1</label>
                                <ul class="nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li>
                                    	<label class="tree-toggler nav-header">Header 2.1.1</label>
                                        <ul class="nav-list tree">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><label class="tree-toggler nav-header">Header 2.2</label>
                                <ul class="nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><label class="tree-toggler nav-header">Header 2.2.1</label>
                                        <ul class="nav-list tree">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</div>

</body>
</html >
