<!DOCTYPE html>
<html 	
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tb="http://www.thymeleaf.org/thymeboots">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"           content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="/bootstrap/4.2.1/css/bootstrap.min.css"/>			
	<link rel="stylesheet" type="text/css" href="/font-awesome/5.11.2/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="/thymeboots/3.4.0/css/thymeboots.css"/>	
	<script src="/jquery/3.0.0/jquery.min.js"></script>
	<script src="/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>

	<title> ThymeBoots </title>
</head>

	
<script>
</script>

<body>
	<tb:container fluid="true">
		<h4>ThymeBoots Test	</h4>	
		<tb:formgroup>
			<tb:textarea label="label"></tb:textarea>
		</tb:formgroup>
 	</tb:container>    
</body>
</html >
